body.settings_page_wp-re-sync .gedeonLogo {
	height     : 100px;
	width      : 314px;
	background : url(gedeon-logo.png) no-repeat left 50%;
}

body.settings_page_wp-re-sync h2 {
	margin-top: 1em;
}

body.settings_page_wp-re-sync .logHistory {

	max-height          : 140px;
	overflow            : auto;
	width               : 210px;

	margin-left         : 20px;

} 

body.settings_page_wp-re-sync .logHistory li {

	padding-left : 20px;
	background   : url(../img/bullet_blue.png) no-repeat left 50%;

}

body.settings_page_wp-re-sync .logHistory li:hover {
	background-color: #ccc;
}

body.settings_page_wp-re-sync .logDetails {
	margin: 20px;
	background-color: white;
	border: 1px double #777;
	padding: 5px;
}

body.settings_page_wp-re-sync .logDetails pre {
	max-height: 300px;
	overflow: auto;
	padding: 15px;
	background: #eee;
}
